.login {
  padding: 25px;
  padding-top: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top:8rem;

  background: url('https://www.itl.cat/pngfile/big/162-1629942_blur-background-with-car.jpg') no-repeat
      center center fixed;
 
    background-size: cover;
    top:5%;
    right: 0;
    bottom: -8%;
    left: 0;
    display: grid;
    place-items: center;
    margin: 0;
    height : 100vh;
    width:98.9vw ;
}



.login>a:hover{
  background-color: transparent;
  border: 3px solid #171a20;
  width: 100%;
  padding: 10px 40px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #171a20;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.login__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 330px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(128, 128, 128, 0.76);
  padding: 20px;
  border-radius: 50px;

}

.login__container>h2 {
  font-weight: 500;
  font-size: 30px;
  text-align:center;
}

.login__textBox {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  outline: none;
  border-radius: 50px;
  padding: 14px 20px;
  color: #393c41;
  font-weight: 600;
}

.login__textBox:focus {
  border: 1px solid #d6d6d7;
  transition: all 0.2s;
}

.login__btn {
  background-color: black;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  transition: all 0.4s;
}

.login__btn:hover {
  background-color: #3457b1;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 2px;
}