.App {
  text-align: center;
}
.App{
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .login-card,.App .signup-card, .App .dashbaord-card, .App .updateprofile-card,.App .forgotpassword-card{  
  max-width: 450px;
  width: 96%;  
}

.App #email,.App #password,.App #password-confirm{
  text-align: start;
  padding-top: 0.5em;
  font-style: italic;
}
.App .forgotpassword-card p {
  text-align: start;
}

