.cardBody div{
    
    display: inline-block;
    vertical-align: top;
    
}

.carImage{
    
    width: 65%;
    
}

label{
    color:#dfc15e;
    font-weight: bold;
}

<<<<<<< HEAD
=======

>>>>>>> 1d77dfbb65107b3a005095f97f7b63b8e06f7b08


.boxDetails{
    background-color: #dfc15e;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
<<<<<<< HEAD
    

=======
>>>>>>> 1d77dfbb65107b3a005095f97f7b63b8e06f7b08
}

.boxGroup{
    margin-top: 30px;
    width: 35%;
    margin-bottom: 100px;
<<<<<<< HEAD
    
    
    
=======
>>>>>>> 1d77dfbb65107b3a005095f97f7b63b8e06f7b08
}


.Column1{
    width: 50%;
    padding-left: 80px;
}

<<<<<<< HEAD
=======
.Column1 p {
    margin-left: 0.5em;
 
}

>>>>>>> 1d77dfbb65107b3a005095f97f7b63b8e06f7b08

.Column2{
    width: 50%;
    padding-left: 80px;
}