.cardBody div{
    
    display: inline-block;
    vertical-align: top;
    
    
}

Container{
    margin: auto;
}



.carImage{
    
    width: 70%;
    margin-bottom: 60px;
    
}



.boxDetails{
    background-color: #dfc15e;
    text-align: center  

}

.Column1{
width: 50%;
padding-left: 70px;

}

label{
    color: #dfc15e;
    font-weight: bold;
    font-size: 18px;

}

p {
    font-size: 16px;
}

.Column2{
width: 50%;
padding-left: 70px;
    
}

.boxGroup{
    width: 30%;
    margin-top: 30px;
    
    margin-bottom: 80px;
    
    
    
}