.ContactUs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactForm{
    padding: 0 20%;
   
    
}

#btnContact{
    float: right;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
}