.ContactUs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactForm{
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
#titleContact{
    text-align: center;
}

#btnContact{
    float: right;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    
}