.background{
    background-color: rgba(224, 224, 224, 0.918);
    padding: 2rem;
    border-radius: 12px;

}

#result{
    margin-top: 10%;
}
.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://wallpaperaccess.com/full/1786208.jpg") center no-repeat;
    background-size: cover;
    height: 98vh;
}

.blue-text {
    color: #00BCD4;
}

.form-control-label {
    margin-bottom: 0;
}

button{
    background-color: rgb(130, 190, 229);
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 4px;
    box-sizing: border-box;
    border: 1px solid rgb(130, 190, 229);
    font-size: 18px !important;
    font-weight: 300;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}