.footer {
    background: black;
    color:white;
}

.footer .footer-bottom{
    color:black;
    font-weight: bold;
}

.footer .footer-link{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.footer .footer-link:hover{
    color: black;
    text-decoration: underline;
}

.footer Link{
    text-decoration:none;
}

.footer h5 {
    color:black;
    font-weight: bolder;
}



